@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*-------------------------------------------------------- Colors */
.bg-color-name-title {
    background-color: #676767;
}

.nav-menu-color-home {
    background-color: #e67e22;
}

.nav-menu-color-cv {
    background-color: #9b59b6;
}

.nav-menu-color-contact {
    background-color: #3498db;
}

.nav-menu-color-download {
    background-color: #525252;
}

/*-------------------------------------------------------- Header */

header {
    color: blue;
    font-family: Roboto, sans-serif;
    margin: 0;
}


.logo {
    background: url("../../assets/images/profileimg.jpeg") no-repeat center center;
    background-size: cover;
    min-height: 360px;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
}

.heading {
    margin-left: 50px;
    min-height: 240px;
}

.name {
    font-weight: 100;
    font-size: 46px;
    margin-top: 50px;
    color: #fff;
}

.title {
    font-weight: 200;
    font-size: 28px;
    margin-top: 25px;
    margin-bottom: 50px;
    color: #fff;
    
}

.menucontainer {
    font-size: 0;
}

#nav {
    margin: 0;
}

#nav .list-inline-item:not(:last-child) {
    margin-right: 0;
}
#nav li {
    font-size: 14px;
    padding: 0;
}

.menuitem {
    height: 120px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    color: #fff;
    height: 120px;
    text-decoration: none;
}

.menuitem a i {
    padding-top: 22px;
    font-size: 26px;
    display: block;
    color: #fafafa
}

.menuitem a span {
    display: block;
    width: 100%;
    padding-top: 5%;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 2px;
}